
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin:0;
}

#popUp {
    position:absolute;
    display:table;
    left:20vw;
    height:20vh;
    width:60vw;
    background-color:#33f;
    border:1px solid #333;
    border-bottom:3px solid #333;
    border-right:3px solid #333;
    border-radius:2vh;
    text-align:center;
    /*transition:.25s transform ease;*/
}

.popUpClass1 {
    top:5vh;
    animation:showPopUp; 
    animation-duration:0.5s;
}

.popUpClass2 {
    top:-21vh;
    animation:hidePopUp;
    animation-duration:0.5s;
}

#popUp:hover {
    /*transform:scale(1.2);*/
}

#exit {
    position:absolute;
    top:1%;
    right:1%;
    height:2vh;
    width:2vh;
    border:1px solid #333;
    background-color:#aaa;
    border-radius:100%;
    transition:.25s background-color ease;
}

#exit:hover {
    background-color:#f22;
}

#title {
    display:table-cell;
    vertical-align:middle;
    animation:animateTitle;
    animation-duration:2s;
    animation-iteration-count:infinite;
}

#b, #o1, #o2, #l, #e, #a, #n, #p, #l2, #a2, #y,
#g, #r, #o3, #u, #n2, #d {
    font-family:'Righteous';
    font-size:10vh;
}

#tutorial {
    position:absolute;
    z-index: 1;
    top:5vh;
    font-family:'Roboto';
    font-size:3vh;
    word-wrap: normal;
    overflow: auto;
    height:90vh;
    width:90vw;
    border:1px solid #333;
    border-bottom:3px solid #333;
    border-right:3px solid #333;
    border-radius:2vh;
    background-color:#f5f5dc;
}

.tutorialClass1 {
    right:105vw;
}

.tutorialClass2 {
    right:5vw;
    animation:showTutorial;
    animation-duration:0.5s;
}

.tutorialClass3 {
    right:105vw;
    animation:hideTutorial;
    animation-duration:0.5s;
}

#tutorialExit {
    position: absolute;
    top:1%;
    right:1%;
    height:2vh;
    width:2vh;
    border:1px solid #333;
    background-color:#aaa;
    border-radius:100%;
    transition:.25s background-color ease;
}

#tutorialExit:hover {
    background-color:#f22;
}

#description {
    margin-top:5vh;
    margin-bottom:5vh;
    margin-left:2vw;
    margin-right:2vw;
}

#and {
    position:absolute;
    left:1vw;
    width:5vw;
    top:5vh;
    font-family:'Righteous';
    font-size:3vh;
}

#or {
    position:absolute;
    left:1vw;
    width:5vw;
    top:11vh;
    font-family:'Righteous';
    font-size:3vh;
}

#not {
    position:absolute;
    left:1vw;
    width:5vw;
    top:17vh;
    font-family:'Righteous';
    font-size:3vh;
}

#nor {
    position:absolute;
    left:1vw;
    width:5vw;
    top:23vh;
    font-family:'Righteous';
    font-size:3vh;
}

#nand {
    position:absolute;
    left:1vw;
    width:5vw;
    top:29vh;
    font-family:'Righteous';
    font-size:3vh;
}

#xor {
    position:absolute;
    left:1vw;
    width:5vw;
    top:35vh;
    font-family:'Righteous';
    font-size:3vh;
}

#help {
    position:absolute;
    top:41vh;
    left:1vw;
    font-family:'Righteous';
    font-size:5vh;
    color:#18B62D;
    background-color:transparent;
    border:0;
}

@keyframes showPopUp {
    0% {
        transform:translateY(-26vh);
    }
    
    75% {
        transform:translateY(2vh);
    }
}

@keyframes hidePopUp {
    0% {
        transform:translateY(26vh);
    }

    75% {
        transform:translateY(28vh);
    }
}

@keyframes animateTitle {
    50% {
        color:rgb(45, 40, 40);
    }
}

@keyframes showTutorial {
    0% {
        transform:translateX(-100vw);
    }

    75% {
        transform:translateX(2vw);
    }    
}

@keyframes hideTutorial {
    0% {
        transform:translateX(100vw);
    }

    75% {
        transform:translateX(102vw);
    }
}
